$white: #fff;
$darkpurple: rgb(20, 20, 20);
$lightpurple: hsla(224, 37%, 8%, 1);
$purple: #2d0d7b;
$purple1: hsl(222, 37%, 12%);
$purple_hover: #280d6e;
$purple_light: #2d0d7b20;
$mediumgray: #cbccdc;
$gray: #bdbdbd;
$lightgreen: #25f6b8;
$red: #eb121dcc;
$red_light: #eb121d1a;
$darkblue: #12184e;

$modalbg: hsla(224, 37%, 8%, 1);

$font: 'Inter', 'Poppins', sans-serif;

$mobile: 992px;
