@import './fonts';
@import './variables';
@import '~antd/dist/reset.css';
@import '~react-toastify/dist/ReactToastify.css';

:root {
  // @web3modal
  --w3m-accent-color: #4b83fb !important;
  --w3m-background-color: #4b83fb !important;
  --w3m-font-family: #{$font} !important;
  // react-toastify
  --toastify-color-dark: hsl(222, 37%, 12%) !important;
  --toastify-font-family: #{$font} !important;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-y: hidden;

  background-color: $lightpurple;
  color: $white;

  font-family: $font;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;

  @media (max-width: $mobile) {
    overflow-y: visible;
    background-color: $lightpurple;
  }
}
