@import 'styles/variables';

.container {
  padding: 0 2rem;
}

.main {
  padding: 0 0 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner {
  display: flex;
  width: 392px;
  background-image: url('~assets/icons/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  height: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 0;
  width: 392px;
  background-color: hsl(222, 37%, 12%);
  border-radius: 8px;
  padding: 10px;
}

.demo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
}

.noEvents {
  pointer-events: none !important;
}
